/* NavBar */
.NavBar {
    background-color: #9575CD;
}

.Logo{
    width: 35px;
    margin-right: 10px;
}

.CartLogo{
    width: 35px;
}




/*ItemListContainer*/

.Titulo{
    margin-top: 55px;
    text-align: center;
}


.InputGroup{
    justify-content: center;
}

.input-group>.form-control, .input-group>.form-select{
    flex: initial !important;
}

.ContenedorAdd{
    display: flex;
    justify-content: center;
}

.AgregarCarrito{
    margin-top: 10px;
}